tags
result
*.swp
.DS_Store
node_modules
/.vscode
to-mount
local/wireless.nix
specialisation-users.txt
sops.json
age
cyvizen-template/self
todo-legacy
/cyvizens/*/
/self/*/
/bin
/iso/store
/pkgs/all.json
